
@{
    ViewData["Title"] = "Todo";
}

<h2>Todo CRUD Operations</h2>
<a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("AddEditTodo","Home")')"><i class="fa fa-plus"></i> Add New Todo</a>
<table id="gridTodo" name="gridTodo" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Todo</th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts{ 
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/home/index.js"></script>
}

